---
import Image from 'astro/components/Image.astro'
// import whyAoneImg from '@assets/img/why-aone.webp'
import SouthkoreaImg from '@assets/img/southkorea.jpg'
import SouthkoreaImg2 from '@assets/southkorea3.jpeg'
---



<!-- About-2 area start here -->
<section class="about-area-2 pt-90 pb-85 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6 mb-30">
                <div class="about2-left d-flex">
                    <!-- <div class="about2-left__img1 mr-10">
                        <Image src={whyAoneImg} alt="">
                    </div> -->
                    <div class="about2-left__img2">
                        <Image src={SouthkoreaImg2} alt="" style={{height:'610px'}}>
                        <div class="about2-left__info d-flex align-items-center">
                            <div class="about2-left__info__left mr-15">
                                <img src="assets/img/about-2/seal.png" alt="">
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 mb-30">
                <div class="section_title_wrapper">
                    <!-- <span class="subtitle">
                        Why Choose A ONE Global ?
                    </span>                        -->
                    <h2 class="section-title about-span mb-30">
                        <span></span> Some interesting facts about South Korea
                    </h2>
                    <div class="section_title_wrapper__about-content mb-40">
                        <p>We have assisted students, business persons, tourists, and clients with medical needs. There are many variations of available passages, but most have been altered.</p>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                        <div class="about2__item d-flex mb-20 mr-20">
                          <div class="about2__icon">
                            <i class="flaticon-fair-trade"></i>
                          </div>
                          <div class="about2__content">
                            <p class="h5 oswald">Interesting Facts About South Korea</p>
                            <ul style="list-style: none; padding-left: 0;">
                              <li style="position: relative; padding-left: 20px; margin-bottom: 10px;">
                                <span style="position: absolute; left: 0; top: 6px; width: 8px; height: 8px; background-color: red; border-radius: 50%;"></span>
                                South Korean wedding garments are usually red, which is a symbol of good fortune.
                              </li>
                              <li style="position: relative; padding-left: 20px; margin-bottom: 10px;">
                                <span style="position: absolute; left: 0; top: 6px; width: 8px; height: 8px; background-color: red; border-radius: 50%;"></span>
                                Korea has one of the fastest average internet speeds in the world; 93% of the population uses the internet, with free access in many public areas.
                              </li>
                              <li style="position: relative; padding-left: 20px; margin-bottom: 10px;">
                                <span style="position: absolute; left: 0; top: 6px; width: 8px; height: 8px; background-color: red; border-radius: 50%;"></span>
                                Before 30, men must commit to 21–24 months of military service, even if they are celebrities.
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                      <div class="about2__item  d-flex mb-30 mr-20">
                        <div class="about2__icon">
                          <i class="flaticon-trophy"></i>
                        </div>
                        <div class="about2__content">
                          <p class="h5 oswald">More South Korean Facts</p>
                          <ul style="list-style: none; padding-left: 0;">
                            <li style="position: relative; padding-left: 20px; margin-bottom: 10px;">
                              <span style="position: absolute; left: 0; top: 6px; width: 8px; height: 8px; background-color: red; border-radius: 50%;"></span>
                              Taekwondo is the national sport of South Korea. It's believed to have been invented approximately 2,000 years ago.
                            </li>
                            <li style="position: relative; padding-left: 20px; margin-bottom: 10px;">
                              <span style="position: absolute; left: 0; top: 6px; width: 8px; height: 8px; background-color: red; border-radius: 50%;"></span>
                              South Korean taxis are color-coded based on the degree of service they provide. While black cabs are premium vehicles, orange or silver taxis are more affordable.
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                
                       
                           
                    <!-- <a href="" class="theme-btn">Read More</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-area-2 pt-10  wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-xl-8 col-lg-8 mb-30">
                <div class="section_title_wrapper">
                    <h2 class="section-title about-span mb-30">
                        <span></span> Why South Korea for study?
                    </h2>
                   
                </div>
                <div class="about2__content">
                    <ol style="list-style-type: decimal; padding-left: 20px;">
                        <li style="margin-bottom: 10px;">Academic excellence in globally recognized universities.</li>
                        <li style="margin-bottom: 10px;">Access to the best technology and research opportunities.</li>
                        <li style="margin-bottom: 10px;">The fees are more affordable, with a yearly cost of up to $10,000.</li>
                        <li style="margin-bottom: 10px;">Networking opportunities in a diverse international environment.</li>
                        <li style="margin-bottom: 10px;">Safety and hospitality ensure a comfortable learning experience.</li>
                        <li style="margin-bottom: 10px;">Promising job prospects and career opportunities in a thriving economy.</li>
                        <li style="margin-bottom: 10px;">Post-study completion, opportunities to work in the Korean industry.</li>
                        <li style="margin-bottom: 10px;">Accessible healthcare services for student support.</li>
                        <li style="margin-bottom: 10px;">The opportunity to migrate to Canada.</li>
                        <li style="margin-bottom: 10px;">Innovative teaching methods for practical skills.</li>
                        <li style="margin-bottom: 10px;">Modern infrastructure and top-notch facilities.</li>
                        <li style="margin-bottom: 10px;">Exposure to diverse perspectives fosters personal growth and development.</li>
                        <li style="margin-bottom: 10px;">Year-round festivals celebrating Korean culture and traditions.</li>
                    </ol>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 mb-30">
                <div class="about2-left d-flex">
                    <div class="about2-left" style="width: 100%; height: auto;">
                        <Image src={SouthkoreaImg} alt="Study in South Korea" width="400" height="300" style="max-width: 100%; height: auto;">
                        <div class="about2-left__info d-flex align-items-center">
                            <div class="about2-left__info__left mr-15">
                                <img src="assets/img/about-2/seal.png" alt="Seal" width="80" height="80" style="max-width: 100%; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About-2 area end here -->
