---
import SideForm from "./SideForm.astro";
---

<!-- faq-area start -->
<div class="ab-tabs pt-110 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-10">
        <div class="section_title_wrapper text-center mb-50 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <h2 class="section-title">Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="tab-content mb-30" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home-1" role="tabpanel" aria-labelledby="pills-home-tab-1">
            <div class="faq-content faq-white">
              <div class="accordion" id="accordionExample-1">
                <div class="accordion-item">
                  <p class="h2 oswald accordion-header" id="headingOne-1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne-1">
                      Is Russia a good destination for international students?
                    </button>
                  </p>
                  <div id="collapseOne-1" class="accordion-collapse collapse show" aria-labelledby="headingOne-1" data-bs-parent="#accordionExample-1">
                    <div class="accordion-body">
                      <p>
                        Absolutely. For international students looking for a top-notch education in a multicultural, multiethnic setting, Russia is an excellent option. Well-known universities with a
                        broad range of English language programs, like Lomonosov Moscow State University and Saint Petersburg State University, are open to students from all over the world.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <p class="h2 oswald accordion-header" id="headingTwo-1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo-1" aria-expanded="false" aria-controls="collapseTwo-1">
                      Are there English-taught programs available in Russia?
                    </button>
                  </p>
                  <div id="collapseTwo-1" class="accordion-collapse collapse" aria-labelledby="headingTwo-1" data-bs-parent="#accordionExample-1">
                    <div class="accordion-body">
                      <p>
                        Yes, more and more Russian universities are providing English-language programs, especially for master's and doctoral degrees. This eliminates the need for a language barrier,
                        making it simpler for foreign students to pursue higher education in Russia.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <p class="h2 oswald accordion-header" id="headingThree-1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree-1" aria-expanded="false" aria-controls="collapseThree-1">
                      What is the cost of living in Russia for students from other countries?
                    </button>
                  </p>
                  <div id="collapseThree-1" class="accordion-collapse collapse" aria-labelledby="headingThree-1" data-bs-parent="#accordionExample-1">
                    <div class="accordion-body">
                      <p>
                        In general, living expenses in Russia are lower than in many Western nations. Reasonably priced living quarters, meals, and travel make it appealing to overseas students on a
                        tight budget. Furthermore, a lot of colleges provide scholarships to help with financial assistance.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <p class="h2 oswald accordion-header" id="headingFour-1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour-1" aria-expanded="false" aria-controls="collapseFour-1">
                      How can I apply for a student visa to study in Russia?
                    </button>
                  </p>
                  <div id="collapseFour-1" class="accordion-collapse collapse" aria-labelledby="headingFour-1" data-bs-parent="#accordionExample-1">
                    <div class="accordion-body">
                      <p>
                        To apply for a Russian student visa, you must first get an official invitation from the university, then submit the necessary paperwork and fill out the application. For the
                        most recent information, it's best to check with the Russian embassy or consulate in your home country as the specific requirements may change.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <SideForm />
    </div>
    </div>
  </div>
</div>

<!-- faq-area end -->
