---
import SideForm from "./SideForm.astro";
---

<!-- faq-area start -->
<div class="ab-tabs pt-110 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-10">
        <div class="section_title_wrapper text-center mb-50 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <h2 class="section-title">Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="tab-content mb-30" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-home-1" role="tabpanel" aria-labelledby="pills-home-tab-1">
            <div class="faq-content faq-white">
              <div class="accordion" id="accordionExample-1">
                <div class="accordion-item">
                  <p class="h2 oswald accordion-header" id="headingOne-1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne-1">
                      Why should I study in South Korea?
                    </button>
                  </p>
                  <div id="collapseOne-1" class="accordion-collapse collapse show" aria-labelledby="headingOne-1" data-bs-parent="#accordionExample-1">
                    <div class="accordion-body">
                      <p>
                        Studying in South Korea offers access to world-class universities, cutting-edge technology, and a unique blend of traditional and modern culture. You'll benefit from
                        high-quality education, opportunities to learn the Korean language, and exposure to a thriving economy with global companies like Samsung and Hyundai.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <p class="h2 oswald accordion-header" id="headingTwo-1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo-1" aria-expanded="false" aria-controls="collapseTwo-1">
                      How can I apply to study in South Korea?
                    </button>
                  </p>
                  <div id="collapseTwo-1" class="accordion-collapse collapse" aria-labelledby="headingTwo-1" data-bs-parent="#accordionExample-1">
                    <div class="accordion-body">
                      <p>
                        To study in South Korea, you need to choose a university and program, then apply directly to the institution. Most universities have online application systems. You'll
                        typically need to submit academic transcripts, proof of English proficiency (or Korean for some programs), a personal statement, and letters of recommendation. Some
                        universities may require an application fee.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <p class="h2 oswald accordion-header" id="headingThree-1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree-1" aria-expanded="false" aria-controls="collapseThree-1">
                      What are the language requirements for studying in South Korea?
                    </button>
                  </p>
                  <div id="collapseThree-1" class="accordion-collapse collapse" aria-labelledby="headingThree-1" data-bs-parent="#accordionExample-1">
                    <div class="accordion-body">
                      <p>
                        For programs taught in English, you typically need to demonstrate English proficiency through tests like TOEFL or IELTS. For programs taught in Korean, you may need to pass the
                        Test of Proficiency in Korean (TOPIK). Some universities offer intensive Korean language programs for international students to help them meet the required proficiency levels.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <p class="h2 oswald accordion-header" id="headingThree1-1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1-1" aria-expanded="false" aria-controls="collapseThree1-1">
                      Can I work while studying in South Korea?
                    </button>
                  </p>
                  <div id="collapseThree1-1" class="accordion-collapse collapse" aria-labelledby="headingThree1-1" data-bs-parent="#accordionExample-1">
                    <div class="accordion-body">
                      <p>
                        Yes, international students can work part-time in South Korea. You need to obtain permission from your university and the Immigration Office. Generally, you can work up to 20
                        hours per week during semesters and full-time during vacations. However, the type of work permitted may be restricted, and you should prioritize your studies.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <p class="h2 oswald accordion-header" id="headingThree2-1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2-1" aria-expanded="false" aria-controls="collapseThree2-1">
                      Are there scholarships available for international students in South Korea?
                    </button>
                  </p>
                  <div id="collapseThree2-1" class="accordion-collapse collapse" aria-labelledby="headingThree2-1" data-bs-parent="#accordionExample-1">
                    <div class="accordion-body">
                      <p>
                        Yes, there are various scholarships available for international students in South Korea. The Korean Government Scholarship Program (KGSP) is a popular option that covers
                        tuition, living expenses, and other benefits. Many universities also offer their own scholarships based on academic merit or financial need. Additionally, there are
                        scholarships offered by private organizations and foundations. It's advisable to research and apply for scholarships early in your application process.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <SideForm />
      </div>
    </div>
  </div>

  <!-- faq-area end -->
</div>
