---

---


<style>
   table {
     width: 90%;
     border-collapse: collapse;
     margin: 20px;
     font-size: 16px;
   }

   th,
   td {
     border: 1px solid #ddd;
     padding: 10px;
     text-align: left;
   }

   th {
     background-color: #f2f2f2;
     color: red;
     text-align: center;
   }

   td {
     vertical-align: top;
   }

   td:nth-child(2) {
     text-align: left;
   }
 </style>

<!-- faq-area start -->
<div class="ab-tabs pt-10 pb-20">
 <div class="container">
   <div class="row justify-content-center">
     </div>
     <div class="row">
       <div class="tab-pane">
         <h3 class="united-states__title mb-15" >EXPLORE MBBS IN RUSSIA - UNDER 30LAKHS INR</h3>
         <p style="font-size: large;">
           For students planning to pursue their academic aspirations in Russia, it’s essential to be aware of the intake periods for admissions. <br /><strong>
             Here’s a breakdown of the intake periods:
           </strong>
         </p>
   
       
         <br />
   
         <table>
            <thead>
              <tr>
                <th>Aspect</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Degree</td>
                <td>MBBS (Bachelor of Medicine, Bachelor of Surgery)</td>
              </tr>
              <tr>
                <td>Duration</td>
                <td>6 years</td>
              </tr>
              <tr>
                <td>Eligibility</td>
                <td>At least 50% in Physics, Chemistry, and Biology in 12th</td>
              </tr>
              <tr>
                <td>English Language Requirement</td>
                <td>IELTS and TOEFL not required</td>
              </tr>
              <tr>
                <td>Medium of Instruction</td>
                <td>English</td>
              </tr>
              <tr>
                <td>Recognition</td>
                <td>NMC and WHO</td>
              </tr>
              <tr>
                <td>Intake</td>
                <td>January and September</td>
              </tr>
              <tr>
                <td>Top Medical Colleges</td>
                <td>
                  <ul>
                    <li>Kazan State Medical University</li>
                    <li>Ryazan State Medical University</li>
                    <li>Altai State Medical University</li>
                    <li>Derzhavin Tambov State University</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Cost per Year</td>
                <td>1.8 Lakh to 6.40 Lakh</td>
              </tr>
              <tr>
                <td>NEET</td>
                <td>NEET qualification mandatory</td>
              </tr>
            </tbody>
          </table>
       </div>
     </div>
 </div>

</div>
<div class="ab-tabs pt-10 pb-20">
 <div class="container">
   <div class="row justify-content-center">
     </div>
     <div class="row">
       <div class="tab-pane">
         <h3 class="united-states__title mb-15" >STUDY MBBS IN RUSSIA FOR INDIAN STUDENTS-UNDER 30LAKHS INR </h3>
         
   
       
         <br />
         <table>
            <thead>
              <tr>
                <th>University</th>
                <th>Program</th>
                <th>Tuition Fees (Yearly)</th>
                <th>Cost of Living (Per Month)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Derzhavin Tambov State University</td>
                <td>MBBS, MD</td>
                <td>2.94 Lakh</td>
                <td>14K to 50K</td>
              </tr>
              <tr>
                <td>Yaroslavl State Medical University</td>
                <td>MBBS, MD</td>
                <td>2.5 Lakh</td>
                <td>14K to 50K</td>
              </tr>
              <tr>
                <td>Voronezh State Medical University</td>
                <td>MBBS, MD</td>
                <td>3.5 Lakh</td>
                <td>14K to 50K</td>
              </tr>
              <tr>
                <td>Ryazan State Medical University</td>
                <td>MBBS, MD</td>
                <td>3.2 Lakh</td>
                <td>14K to 50K</td>
              </tr>
              <tr>
                <td>Omsk State Medical University</td>
                <td>MBBS, MD</td>
                <td>2.38 Lakh</td>
                <td>14K to 50K</td>
              </tr>
              <tr>
                <td>Altai State Medical University</td>
                <td>MBBS, MD</td>
                <td>3.70 Lakh</td>
                <td>14K to 50K</td>
              </tr>
            </tbody>
          </table>
       </div>
     </div>
 </div>

</div>

<!-- faq-area end -->
