---

---

<style>
     .e-font-icon-svg {
            width: 50px;
            height: 50px;
            display: inline-block;
            margin: 0 auto 15px;
            fill: #185690;
        }
</style>
 
<style>
    table {
      width: 90%;
      border-collapse: collapse;
      margin: 20px;
      font-size: 16px;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
      color: red;
      text-align: center;
    }

    td {
      vertical-align: top;
    }

    td:nth-child(2) {
      text-align: left;
    }
  </style>

<!-- faq-area start -->
<div class="ab-tabs pt-10 pb-20">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-xxl-10">
          <div class="section_title_wrapper text-center mb-50 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
            <h2 class="section-title" style="color: #185690;">
              <svg aria-hidden="true" class="e-font-icon-svg " viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm95.8 32.6L272 480l-32-136 32-56h-96l32 56-32 136-47.8-191.4C56.9 292 0 350.3 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z"></path></svg>
              Intake Details
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="tab-pane">
          <h3 class="united-states__title mb-15" >Intakes for Admission to Study in South Korea</h3>
          <p style="font-size: large;">
            For students planning to pursue their academic aspirations in South Korea, it’s essential to be aware of the intake periods for admissions. <br /><strong>
              Here’s a breakdown of the intake periods:
            </strong>
          </p>
    
        
          <br />
    
          <table>
            <thead>
              <tr>
                <th>Intake</th>
                <th>Start Date</th>
                <th>Application Period</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Spring Admission</td>
                <td>March</td>
                <td>Apply from October to December of the previous calendar year</td>
              </tr>
              <tr>
                <td>Fall Admission</td>
                <td>September</td>
                <td>Apply from April to July of the same calendar year</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
 
</div>

<!-- faq-area end -->
