<section>
  <div class="container">
    <div class="row">
      <div class="section-divider"></div>

      <div class="col-xxl-3 col-xl-3 col-lg-3">
        <ul class="nav nav-tabs" style="flex-direction: column;" id="mainTabs">
          <li class="nav-item">
            <a class="nav-link active" href="#VISA_Requirements" data-toggle="tab">VISA Requirements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Study_Cost" data-toggle="tab">STUDY COST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Scholarship_Opportunity" data-toggle="tab">SCHOLARSHIP OPPORTUNITY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ACADEMIC_PROGRAMS" data-toggle="tab">ACADEMIC PROGRAMS & COURSES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#STUDENT_VISA" data-toggle="tab">STUDENT VISA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#DOCUMENTS_CHECK" data-toggle="tab">DOCUMENTS CHECK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#WORK_CAREER" data-toggle="tab">WORK & CAREER</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#Conclusion" data-toggle="tab">Conclusion</a>
          </li>
        </ul>
      </div>

      <div class="col-xxl-9 col-xl-9 col-lg-9">
        <!-- Country Content -->
        <div class="tab-content">
          <!-- South Korea Content -->
          <div class="tab-pane active" id="VISA_Requirements">
            <h2 class="mb-15">VISA Requirements</h2>

            <style>
              .checkmark-list {
                list-style-type: none;
                padding-left: 0;
              }
              .checkmark-list li {
                padding-left: 1.5em;
                position: relative;
                margin-bottom: 0.5em;
              }
              .checkmark-list li::before {
                content: "✓";
                position: absolute;
                left: 0;
                color: green;
              }

              .requirements-container {
                display: flex;
                gap: 20px;
              }

              .list-column {
                flex: 1;
              }

              .inline-list {
                list-style-type: none;
                padding: 0;
                column-count: 2;
                column-gap: 20px;
              }

              .inline-list li {
                break-inside: avoid-column;
                margin-bottom: 10px;
                position: relative;
                padding-left: 20px;
              }

              .inline-list li::before {
                content: "•";
                position: absolute;
                left: 0;
                color: #4caf50;
              }

              h3 {
                margin-bottom: 15px;
              }
            </style>

            <p>
              To study in South Korea, you need to carefully <br /> go through the visa application process.
              <strong>Here are the key requirements:</strong>
              <ul class="checkmark-list">
                <li>A Minimum GPA of 2.80 for Undergraduates and a GPA of 2.40 for Graduates</li>
                <li>The requirement can go Higher for Top Universities</li>
                <li>Up to a 3 year gap is accepted after 12</li>
                <li>Up to a 5-year gap is accepted to study masters after bachelors</li>
              </ul>
            </p>

            <!-- </h3> -->
            <!-- Add South Korea content here -->
          </div>

          <!-- South Korea Content -->
          <div class="tab-pane" id="Study_Cost">
            <h3 class="united-states__title mb-15">Study Cost in South Korea</h3>
            <p>
              Studying in South Korea offers an enriching academic experience amidst a vibrant cultural landscape. However, it’s essential to consider the associated costs to plan your education
              journey.<strong> Here’s a breakdown of the costs involved (1000 KRW = 96.98 NPR)</strong>
            </p>
            <h1>Living Cost</h1>

            <style>
              table {
                width: 90%;
                border-collapse: collapse;
                margin: 20px;
                font-size: 16px;
              }

              th,
              td {
                border: 1px solid #ddd;
                padding: 10px;
                text-align: left;
              }

              th {
                background-color: #f2f2f2;
                color: red;
                text-align: center;
              }

              td {
                vertical-align: top;
              }

              td:nth-child(2) {
                text-align: left;
              }
            </style>

            <table>
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Expense Range KRW</th>
                  <th>Expense Range NPR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Restaurant</td>
                  <td>2000 KRW</td>
                  <td>195 NPR</td>
                </tr>
                <tr>
                  <td>Grocery</td>
                  <td>2968 to 25,000 KRW</td>
                  <td>230 to 2,450 NPR</td>
                </tr>
                <tr>
                  <td>Transportation</td>
                  <td>1,400 to 60,000 KRW</td>
                  <td>145 to 5,800 NPR</td>
                </tr>
                <tr>
                  <td>Utilities</td>
                  <td>32,226 to 235,325 KRW</td>
                  <td>3,125 to 22,500 NPR</td>
                </tr>
                <tr>
                  <td>Sports and Leisure</td>
                  <td>15,000 to 66,894 KRW</td>
                  <td>1,450 to 6,500 NPR</td>
                </tr>
                <tr>
                  <td>Childcare</td>
                  <td>493,571 KRW</td>
                  <td>47,000 NPR</td>
                </tr>
                <tr>
                  <td>Clothing</td>
                  <td>15,187 to 168,774 KRW</td>
                  <td>1,500 to 16,000 NPR</td>
                </tr>
                <tr>
                  <td>Rent (Apartment single)</td>
                  <td>699,171 to 1,121,394.85 KRW</td>
                  <td>67,500 to 108,500 NPR</td>
                </tr>
              </tbody>
            </table>
            <br />
            <h3>Programs Costs</h3>
            <table>
              <thead>
                <tr>
                  <th>Degree of Education</th>
                  <th>Tuition Fee Range KRW</th>
                  <th>Tuition Fee Range NPR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Bachelor’s Degree</td>
                  <td> 3,700,000 KRW to 7,000,000 KRW </td>
                  <td> 3,58,800 to 6,78,000 NPR per year </td>
                </tr>
                <tr>
                  <td>Master’s Degree</td>
                  <td> 400,000 KRW to 800,000 KRW </td>
                  <td> 3,87,000 to 7,75,000 NPR per year </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Canada Content -->
          <div class="tab-pane" id="Scholarship_Opportunity">
            <h3 class="united-states__title mb-15">Scholarship Opportunity</h3>
            <p>
              Financial assistance in the form of scholarships can significantly reduce the financial burden for international students pursuing education in South Korea <br />
              <strong>Here are various scholarship options available to support your academic journey:</strong>
            </p>

            <p><strong>1. Global Korea Scholarship Program (KGSP)</strong></p>
            <p>Sponsored by the Korean government, KGSP offers scholarships for international students to pursue undergraduate, master's, and doctoral programs in South Korea.</p>

            <p><strong>2. IELTS Based Scholarships</strong></p>
            <p>Scholarship opportunities are available for Nepalese students based on their IELTS scores.</p>

            <p><strong>1st Semester:</strong></p>
            <p>
              If you score 5.5, you will receive a scholarship ranging from 15% to 30%.<br />
              If you score between 6.0 to 6.5, you could be eligible for a 50% scholarship.<br />
              If you score 7.0, you might qualify for a full 100% scholarship.
            </p>

            <p><strong>2nd Semester Onwards:</strong></p>
            <p>
              Scholarships will be awarded based on the university's offer and your academic performance.<br />
              As long as you maintain good grades, you may continue to receive scholarships, according to the university's policy.
            </p>

            <p><strong>3. University-specific Scholarships</strong></p>
            <p>Many universities in South Korea offer their own scholarship programs for international students, covering tuition fees, living expenses, and other related costs.</p>

            <p><strong>4. Merit-based Scholarships</strong></p>
            <p>
              Academic excellence, extracurricular achievements, and other merit criteria determine the awarding of these scholarships. They aim to recognize and support outstanding students in their
              academic pursuits.
            </p>

            <p><strong>5. Research Scholarships</strong></p>
            <p>
              Research-oriented scholarships are available for students interested in pursuing research projects or postgraduate studies in specific fields such as science, engineering, and the
              humanities.
            </p>

            <p><strong>6. Cultural Exchange Scholarships</strong></p>
            <p>Some organizations and foundations offer scholarships to promote cultural exchange and mutual understanding between South Korea and other countries.</p>

            <!-- Add Canada content here -->
          </div>
          <div class="tab-pane" id="ACADEMIC_PROGRAMS">
            <h3 class="united-states__title mb-15">ACADEMIC PROGRAMS & COURSES</h3>
            <p>
              South Korea’s renowned education system provides an extensive array of programs and courses to meet the diverse academic interests and career goals of international students.
              Furthermore, choosing a program in high-demand fields can enhance your prospects for career advancement and opportunities in South Korea and beyond.
            </p>

            <br />
            <h3>Explore some of the top programs and courses available:</h3>

            <ul>
              <li>Engineering and Technology</li>
              <li>Business Administration and Management</li>
              <li>Computer Science and Information Technology</li>
              <li>Social Sciences (including Sociology, Psychology, and Economics)</li>
              <li>Medicine and Healthcare</li>
              <li>Hospitality and Tourism Management</li>
              <li>Fine Arts and Design</li>
              <li>Law and Legal Studies</li>
              <li>Environmental Sciences</li>
              <li>Humanities</li>
            </ul>
            <br />
            <p>
              Each program provides a well-rounded education with a mix of theoretical knowledge, practical skills, and industry-specific training, preparing students for success in South Korea’s
              ever-evolving educational environment and beyond.
            </p>
            <!-- Add Canada content here -->
          </div>
          <div class="tab-pane" id="STUDENT_VISA">
            <h3 class="united-states__title mb-15">Student Visa</h3>
            <ul class="checkmark-list">
              <li>
                To study in South Korea, the visa requirements and eligibility criteria vary depending on the university you choose. For Nepalese students, there are two main types of study visas: the
                D-2 Visa and the D-4 Visa.
              </li>
              <li>
                You cannot study your major course at a university or work in South Korea with a D-4 visa. To be eligible to study at a university and work in South Korea, Nepalese students must
                obtain a D-2 visa. To obtain the D-2 visa, it is mandatory to have completed IELTS in Nepal.
              </li>
              <li>Although you can convert your D-4 visa to a D-2 visa after completing a Korean language course in South Korea, doing so is more costly than obtaining a direct D-2 visa.</li>
              <li>
                The D-2 visa grant notice is only valid for 90 days after it is issued to you. This means that you need to arrive in Korea within 90 days of the date on your D-2 visa grant notice.
              </li>
              <li>International students must apply for the Residence Card within 90 days of their arrival in Korea.</li>
              <li>
                The Student Services Team will assist the new students with the application process at the International Student Orientation during New Student Welcome Week. Please note that it
                usually takes approximately 8 weeks to receive the RC. Without RC, you cannot open a bank account.
              </li>
            </ul>
          </div>
          <div class="tab-pane" id="DOCUMENTS_CHECK">
            <h3 class="united-states__title mb-15" style="text-align: center;">Document check</h3>
            <div class="requirements-container">
              <div class="requirements-container">
                <div class="list-column">
                  <h3>For offer letter</h3>
                  <ul class="inline-list">
                    <li>Academic documents of SEE, NEB and Bachelors</li>
                    <li>English Proficiency (IELTS / only few accepts TOEFL iBT)</li>
                    <li>Applicant and Sponsors Citizenships</li>
                    <li>Passport of Applicant</li>
                    <li>Recommendation Letter from College/ University (Mandatory for Master Level)</li>
                    <li>Curriculum Vitae (CV)</li>
                    <li>Verified Academics (to be attested from respective Authority/ Ministry of foreign Affairs/ Korean Embassy)</li>
                    <li>Ward Documents (Mandatory Relationship, few universities need Tax Clearance, Income, Birth Certificate)</li>
                    <li>Gap documents if needed</li>
                  </ul>
                </div>

                <div class="list-column">
                  <h3>For Embassy Visa Application</h3>
                  <ul class="inline-list">
                    <li>NOC</li>
                    <li>Visa Medical</li>
                    <li>Police Report</li>
                    <li>Income supporting Documents</li>
                    <li>Admission Letter from University/ Certificate of Admission (CoA)</li>
                    <li>Completed Visa Form</li>
                    <li>CA Report and Property Valuation Certificate</li>
                    <li>College Fees Payment slip (TT copy)</li>
                    <li>Latest Balance Certificate with 6 month Bank statement of same date</li>
                    <li>Statement of Purpose</li>
                    <li>Cover Letter</li>
                    <li>Notarized IELTS and Character Certificates</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="WORK_CAREER">
            <h3 class="united-states__title mb-15">Work & Career</h3>
            <h3>Post-Study Work Visa and Career Opportunities in South Korea</h3>
            <p>
              After completing your studies in South Korea, you may be eligible to explore post-study work opportunities and launch your career in this dynamic and thriving country. Here’s what you
              need to know about post-study work visas and career prospects in South Korea:
            </p>
            <h3>Post-Study Work Visa (D-2-7)</h3>
            <ul class="checkmark-list">
              <li>International students who have completed their degree programs in South Korea are eligible to apply for a post-study work visa known as the D-2-7 visa.</li>
              <li>The D-2-7 visa allows graduates to stay in South Korea and seek employment opportunities related to their field of study for up to six months.</li>
              <li>During this period, graduates can explore job opportunities, attend interviews, and secure employment in South Korea.</li>
            </ul>
            <h3><strong>Part-Time Job Opportunities:</strong></p></h3>

            <p>Some of the part-time jobs available to international students in South Korea include:</p>

            <ul>
              <li>
                <strong>Retail Assistant:</strong> Working in retail stores, supermarkets, or convenience stores involves tasks like cashiering, stocking shelves, and assisting customers. It's a common part-time job
                that offers flexible hours and an opportunity to improve communication skills.
              </li>
              <li><strong>Hospitality Staff: </strong>Jobs in the hospitality sector include working in restaurants, cafes, or hotels. Duties may involve serving customers, food preparation, or housekeeping.</li>
              <li>
               <strong> Tutor or Teaching Assistant:</strong> Nepalese students proficient in certain subjects or languages can work as tutors or teaching assistants. This job involves helping other students with
                their studies, providing guidance, and facilitating learning. It's a rewarding opportunity to share knowledge and support peers.
              </li>
              <li>
               <strong> Administrative Support:</strong> Working in offices or administrative settings includes tasks like data entry, filing, and providing general office support. It's a role that enhances
                organizational and time management skills while offering exposure to office operations.
              </li>
              <li>
              <strong>  Delivery Services:</strong> Some students may find part-time work in restaurant delivery services or courier companies. This job involves delivering orders or packages to customers' locations.
              </li>
              <li>
                <strong>Event Staffing:</strong> Students can serve as event staff for conferences, concerts, or other events. Responsibilities may include ticketing, ushering, or event setup. It's an exciting job
                that provides opportunities to network and experience different types of events.
              </li>
              <li>
               <strong> Freelance Gigs:</strong> Students with skills in graphic design, writing, programming, or other areas can explore freelance opportunities. Freelancing allows for flexibility in working hours
                and the ability to work on projects that interest you.
              </li>
            </ul>
            <!-- Add Canada content here -->
          </div>

          <!-- ACADEMIC PROGRAMS & COURSES -->

          <div class="tab-pane" id="Conclusion">
            <h3 class="united-states__title mb-15">Conclusion</h3>
            <p>
              Your trusted partner in achieving your goal of study in South Korea is A One Global Consultants. It will be easier to navigate the application process's complexities with our expert guidance and
              support. From choosing the right college to getting your visa, we're here to help you constantly. Choose A One Global Consultants for a hassle-free and fruitful journey to the South Korea
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom:150px"></div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Function to handle tab switching
    function handleTabSwitch(tabButtons, tabPanes) {
      tabButtons.forEach((button) => {
        button.addEventListener("click", function (event) {
          event.preventDefault();

          // Remove active class from all tab buttons and tab panes
          tabButtons.forEach((btn) => btn.classList.remove("active"));
          tabPanes.forEach((pane) => pane.classList.remove("active"));

          // Add active class to the clicked tab button
          button.classList.add("active");

          // Add active class to the corresponding tab pane
          const targetPaneId = button.getAttribute("href").substring(1);
          const targetPane = document.getElementById(targetPaneId);
          targetPane.classList.add("active");
        });
      });
    }

    // Handle main country tabs
    const mainTabButtons = document.querySelectorAll("#mainTabs .nav-link");
    const mainTabPanes = document.querySelectorAll(".tab-content .tab-pane");
    handleTabSwitch(mainTabButtons, mainTabPanes);
  });
</script>
